body{
    font-family: 'Roboto', sans-serif;
    /* font-style: italic; */
    font-size: 8px;
}
@media (min-width:1024px){
    body{
        font-size: 16px;
    }
}

/* Estilo para el mensaje de alerta */
#alertMessage {
    display: none; /* Inicialmente oculto */
    background-color: #03045E; /* Fondo rojo */
    color: white; /* Texto en blanco */
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    z-index: 1;
} 
table{
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
}

.primera{
    color: hsl(221, 100%, 31%);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-image: linear-gradient(to left, #fafbfd, #dfedfd, #bee0fb, #95d5f6, #5fcaee);
}

.segunda{
    color: hsl(221, 100%, 31%);
    font-style: italic;
    background-image: linear-gradient(to right, #fafbfd, #dfedfd, #bee0fb, #95d5f6, #5fcaee);
}